body {
  margin: 0;
  padding: 0;
}

#aboutme {
  background-image: url("../pic/bg1.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}

#homeSection {
  position: absolute;
  z-index: -1;
  margin: auto;
  top: 0;
}

#slider_textbox {
  top: 35%;
  bottom: 45%;
  height: auto;
  color: #e8f5e9;
  font-weight: bold;
}

#carouselExampleIndicators img {
  height: 100%;
}

h2,h3 {
  font-weight: bold;
}

.container {
  margin-top: 0px;
  margin-bottom: 5px;
  background-color: white;
  width: 70%;
  height: auto;
  font-family: monospace;
  padding-top: 10px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pp {
  width: auto;
  height: 100px;
  border: 0px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: left;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
}

#pp:hover {
  border: 0px solid black;
}

.box {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box:hover {
  background-color: lightgrey;
}

#sosmed ul li {
  display: inline; 
  list-style-type: none;
}

#sosmed img {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

#sosmed img:hover {
  border: 2px solid black;
}

.nav {
  clear: both;
  background-color: lightgrey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}

.navItem {
  padding: 10px;
}

.navItem:hover {
  background-color: lightblue;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h3 {
  color: black;
}

iframe {
  width: 100%;
}

footer {
  width: 100%;
  height: auto;
  text-align: center;
}

.carousel-inner img {
  height: auto;
  width: auto;
  background-size: cover; 
  border-radius: 5px;
}

@media screen and (max-width: 680px) {
  .container {
    width: 100%;
  }

  .carousel-inner img {
    height: auto;
  }

  h3{
    text-align: center;
  }

  #sosmed p {
    text-align: center;
  }

  #homeSection {
    position: relative; 
  }
}