body {
  margin: 0;
  padding: 0;
  font-family: 'B612', sans-serif;
}

.container {
  width: 70%;
}

nav {
  width: 100%;
  height: auto;
  background-color: #00897b;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-collapse {
  background-color: #00897b;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#search-bar {
  width: 100%;
}

#search-bar input {
  text-align: center;
}

section {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#section-weather {
  height: 500px;
  background-image: url("https://i.pinimg.com/originals/26/c0/c7/26c0c75808df3f5c2a2f22696010682c.png");
  background-position: bottom;
}

.row-temp {
  position: relative;
  top: 120px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.row-temp p {
  text-align: center;
}

#temp-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#temp-box .navbar-brand {
  font-size: 300%;
  font-weight: bold;
}

#des-box {
  margin: 2px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#section-map img {
  width: 100%;
}

footer {
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 10px;
  color: white;
  background-color: #00897b;
}

/* MOBILE APP PAGE */
#container-mobile {
  padding: 10px;
}

#section-mobileapp img {
  height: 95%;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.downloadapp-button {
    margin-top: 10px;
    margin-bottom: 20px;
  }

.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.nav-review {
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 20px;
}

.nav-review img {
  border-radius: 10px;
}

.row img {
  border-radius: 10px;
}

/*RESPONSIVE DESIGN*/
@media screen and (max-width: 680px) {
  .container {
    width: 100%;
  }

  .col-sm {
    text-align: center;
  }
}